.container
{
    position: relative;
    margin:auto;
    top:20px;
    
}
.container1 {
    position: relative;
    margin:auto;
    top:50px;
    border-style: ridge;
    
  }
  
  .input-group
  {
    position: relative;
    top:70px;
    left:800px;
    width:25%;

  }