<div class="card border-danger" >
<div class="card-body" *ngIf="currentUser; else loggedOut">
  <h3 class="card-title" style="color:#dc3545"><b>Profile Details</b></h3>
    <ul class="list-group list-group-flush">
      <p><i class="fas fa-id-card"></i><strong> Id: </strong>{{currentUser.id}}</p>
        <p><i class="far fa-user"></i><strong> Username: </strong>{{ currentUser.username }}</p>

  <p><i class="far fa-envelope"></i><strong> Email Address: </strong>{{ currentUser.email }}</p>
  <p><i class="fas fa-phone"></i><strong> Phone Number: </strong>{{ currentUser.phonenumber }}</p>
    <p><i class="fas fa-user-tag"></i><strong> Role:</strong>{{currentUser.role}}</p>
      </ul>
      <div>
    <a href="profile-edit/{{currentUser.id}}" class='btn btn-danger' router="profile-edit">Edit</a>
    </div>
</div>
</div>
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>